<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>GameItem Information</title>
</head>
<body>
	<div align="center">
		<h1>GameItem List</h1>

		<a href="/new">Add New GameItem</a>
		<br/><br/>

		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>GameItem ID</th>
					<th>GameItem Name</th>
					<th>GameItem Status</th>
					<th>GameItem Release Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="gameItem : ${listGameItem}">
					<td th:text="${gameItem.id}">GameItem ID</td>
					<td th:text="${gameItem.name}">GameItem Name</td>
					<td th:text="${gameItem.status}">GameItem Status</td>
					<td th:text="${gameItem.releaseDate}">GameItem Release Date</td>
					<td>					
						<a th:href="@{'/edit/' + ${gameItem.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${gameItem.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div align="center">

		<br/>
		<button onclick="(()=>{fetch('/checkstatus')
			.then(()=>{window.location.reload()})})()">CHECK Status</button>


<!--		<br/>-->
<!--		<form target="ignore" action="http://localhost:8086/status/update" method="get">-->
<!--				<button onclick="(()=>{-->
<!--					console.log('test');-->
<!--					setTimeout(() => {window.location.reload()-->
<!--					return false;-->
<!--					}, 2000);-->
<!--				})()" type="submit">CHECK Status 33</button>-->
<!--			<iframe name="ignore" src="http://localhost:8085/" style="display:none;"></iframe>-->
<!--		</form>-->

<!--		<br/>-->
<!--		<button onclick="(()=>{fetch('http://localhost:8086/status/update')-->
<!--				.then(()=>{window.location.reload()})})()">CHECK Status</button>-->

<!--		<br/>-->
<!--		<button onclick="(()=>{fetch('/checkstatus');-->
<!--			console.log('wwww');-->
<!--				})()">CHECK Status 22</button>-->




	</div>

</body>
</html>